.fullbox {
  margin-top: 20px;
  height: 100%;
  display: flex;
}

.layers {
  width: 30%;
  height: 70vh;
  font-family: Helvetica, Arial, sans-serif;
  /* background-color: red; */
}

.colors {
  width: 70%;
  height: 70vh;
  padding-right: 15px;
  /* background-color: green; */
}

/* .getColors {
  width: 18%;
  height: 70vh;
  background-color: blue;
} */
@media (max-width: 912px) {
  .fullbox {
    display: block;
  }
  .layers {
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
  }
  .colors {
    width: 100%;
    padding-left: 15px;
    /* height: 100%; */
  }
}